body {
    background-color:#ffffff;
    color:#2e2e2e;
    font:Josefin;
    font-family:sans-serif;
    font-size:14px;
}
a {
    color:#2e2e2e;
    text-decoration:none;
}
a:hover {
    color:#19bccb;
}
a:visited {
    color:#cdcdcd;
}
header {
    background-color:#ffffff;
    display:block;
    float:left;
    width:60%;
    height:80px;
    margin:0;
    padding:20px 30px;
    border-bottom:solid #cdcdcd 2px;
}
header h1 {
    margin:auto;
    text-align:center;
    font-size:3em;
}
header p {
    text-align:center;
    font-size:1em;
}
#nav > a {
    display:none;
}
#nav ul {
    list-style-type:none;
    float:right;
    position:relative;
    bottom:30px;
    font-size:1em;
}
#nav ul li {
    display:inline-block;
    margin:0 10px;
}
#nav ul li a {
    color:#2e2e2e;
    text-decoration:none;
}
#nav ul li a:visited {
    color:#2e2e2e;
}
#content {
    display:block;
    float:left;
    width:70%;
    margin:0px;
}
article {
    background-color:#ffffff;
    text-align:left;
    margin: 30px auto;
    padding:30px 75px;
}
article h1 {
    border-bottom:solid #cdcdcd 1px;
    width:100%;
    font-size:1.5em;
    padding:5px;
}
article p {
    text-indent:30px;
    width:90%;
    margin:10px auto;
}
article .article-footer {
    text-align:right;
    font-size:12px;
    color:#cdcdcd;
}
footer {
    background-color:#ffffff;
    display:block;
    position:fixed;
    bottom:0px;
    margin:0;
    width:64%;
    height:30px;
    font-size:10px;
}
footer ul {
    list-style-type:none;
}
footer ul li {
    display:inline-block;
    margin:0 10px;
    text-align:left;
}
footer ul li a {
    text-decoration:none;
    color:#2e2e2e;
}
footer ul li a:hover {
    text-decoration:none;
    color:#19bccb;
}
footer ul li a:visited {
    text-decoration:none;
    color:#cdcdcd;
}
aside {
    background-image:url(images/sidabar.png);
    background-position:center;
    background-repeat:no-repeat;
    background-clip:padding-box;
    display:block;
    float:left;
    position:fixed;
    margin:0px;
    left:70%;
    width:30%;
    height:100vh;
}
@media all and (max-width: 1024px) {
    aside {
        display:none;
    }
    header {
        width:95%;
    }
    #content {
        width:100%;
    }
    footer {
        width:100%;
    }
}
@media only screen and (max-width: 720px) {
    aside {
        display:none;
    }
    header {
        width:95%;
    }
    header h1 {
        text-align:center;
        font-size:2em;
    }
    header p {
        text-align:center;
    }
    #nav {
        position:relative;
        float:left;
        bottom:70px;
        left:-20px;
    }
    #nav:not( :target ) > a:first-of-type,
				#nav:target > a:last-of-type
				{
					display: block;
				}
    #nav ul {
        display:none;
    }
    #nav:target > ul {
        display:block;
    }
    #nav ul li {
        position:relative;
        top:20px;
        left:-50px;
        padding:10px 20px;
        background-color:#ffffff;
        width:100%;
        float:none;
        border:solid 1px #cdcdcd;
    }
    #nav ul li a {
        font-size:3em;
    }
    #content {
        width:100%;
    }
    article {
    margin: 20px auto;
    padding:10px 50px;
    }
    footer {
        position:relative;
        width:100%;
        font-size:12px;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    aside {
        display:none;
    }
    header {
        width:95%;
    }
    header h1 {
        text-align:center;
        font-size:2em;
    }
    header p {
        text-align:center;
    }
    #nav {
        position:relative;
        float:left;
        bottom:70px;
        left:-20px;
    }
    #nav:not( :target ) > a:first-of-type,
				#nav:target > a:last-of-type
				{
					display: block;
				}
    #nav ul {
        display:none;
    }
    #nav:target > ul {
        display:block;
    }
    #nav ul li {
        position:relative;
        top:20px;
        left:-50px;
        padding:10px 20px;
        background-color:#ffffff;
        width:100%;
        float:none;
        border:solid 1px #cdcdcd;
    }
    #nav ul li a {
        font-size:3em;
    }
    #content {
        width:100%;
    }
    article {
    margin: 20px auto;
    padding:10px 50px;
    }
    footer {
        position:relative;
        width:100%;
        font-size:2em;
    }
}